.cart {
  width: 100%;
  height: max-content;
  padding: 1.5rem 1rem 1rem;
  margin-top: 2rem;
  position: relative;
}

.cart h1 {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 0.5rem;
}

.cart p {
  font-size: 14px;
  color: gray;
  margin: 2rem 0 1rem;
  text-align: center;
}

.cart-item-list {
  max-height: 500px;
  overflow-y: scroll;
  margin-top: 1rem;
}

.cart-item-list::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.cart-item-list::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #000;
}

.action {
  display: flex;
  justify-content: flex-end;
}

.order-button {
  border: 1px solid #000;
  outline: none;
  width: 100px;
  height: 45px;
  margin-top: 1.5rem;
  font-size: 15px;
  font-weight: 700;
  background-color: #fff;
  cursor: pointer;
}

.order-button:hover {
  color: #fff;
  background-color: #000;
}
