.cart-item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 1rem 1.5rem;
}

.cart-item img {
  width: 130px;
  height: 130px;
  object-fit: cover;
}

.item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item-name {
  font-size: 15px;
  font-weight: 500;
}

.item-sub-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-sub-info span {
  font-size: 14px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.actions input {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  outline: none;
  border: none;
  padding: 5px;
  pointer-events: none;
  background-color: transparent;
  font-size: 14px;
}

.action {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .cart-item {
    grid-template-columns: 1fr 2fr;
    gap: 30px;
  }

  .cart-item img {
    width: 110px;
    height: 110px;
  }

  .item-name {
    font-size: 14px;
  }

  .item-sub-info span {
    font-size: 13px;
  }

  .actions input {
    font-size: 13px;
  }
}
