.review-list {
  width: 100%;
  margin: 0 auto 4rem;
}

.review-list h1 {
  margin-bottom: 1rem;
  font-size: 22px;
}

.review {
  width: 100%;
  height: max-content;
  margin-top: 1rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #000;
}

.review-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.reviewer {
  font-size: 16px;
  font-weight: 500;
}

.scope {
  list-style: none;
  display: flex;
}

.scope li {
  margin-left: 3px;
}

.scope li svg {
  width: 15px;
  height: 15px;
  color: gold;
  opacity: 0.8;
}

.review p {
  font-size: 14px;
  text-align: justify;
  word-break: break-all;
}

.sort-button {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0 1.5rem;
  width: 100%;
  height: 40px;
}

.sort-button button {
  outline: none;
  border: none;
  margin-left: 20px;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: #000;
  opacity: 0.6;
}

.sort-button button:hover,
.sort-button button.active {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .review-list {
    width: 90%;
  }

  .review-list h1 {
    margin-bottom: 0.75rem;
    font-size: 17px;
  }

  .reviewer {
    font-size: 14px;
    font-weight: 500;
  }

  .scope li svg {
    width: 14px;
    height: 14px;
  }

  .review p {
    font-size: 12px;
  }
}
