.review {
  width: 100%;
  height: max-content;
  margin-top: 1rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #000;
}

.review-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.reviewer {
  font-size: 16px;
  font-weight: 500;
}

.scope {
  list-style: none;
  display: flex;
}

.scope svg {
  width: 15px;
  height: 15px;
  color: gray;
  margin-left: 3px;
}

svg.clicked {
  color: #fcc419;
}

.review p {
  font-size: 14px;
  text-align: justify;
  word-break: break-all;
}

@media screen and (max-width: 767px) {
  .reviewer {
    font-size: 14px;
    font-weight: 500;
  }

  .scope svg {
    width: 14px;
    height: 14px;
  }

  .review p {
    font-size: 12px;
  }
}
