.product-item {
  width: 100%;
  max-width: 300px;
  height: 270px;
  position: relative;
  z-index: 1;
}

.product-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-item:hover .product-box {
  opacity: 1;
}

.product-box {
  background-color: rgba(255, 255, 192, 0.3);
  width: 90%;
  height: 95px;
  backdrop-filter: blur(10px);
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.75rem 1rem 0.3rem;
  opacity: 0;
  z-index: 2;
}

.name {
  font-size: 15px;
  font-weight: 700;
}

.name a {
  color: #000;
  text-decoration: none;
}

.name a:hover,
.name a:active {
  opacity: 0.7;
}

.product-info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.add-button {
  padding: 7px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-color: transparent;
  cursor: pointer;
  font-size: 13px;
  font-weight: 800;
}

.add-button:hover {
  background-color: rgba(252, 252, 192, 0.6);
  border: none;
  font-weight: 800;
}

@media screen and (max-width: 990px) {
  .product-item {
    width: 25%;
    height: 25%;
    min-width: 210px;
    max-height: 210px;
  }

  .product-item img {
    height: 210px;
  }

  .product-box {
    height: 80px;
    padding: 0.5rem 1rem 0.3rem;
    justify-content: space-evenly;
  }

  .name {
    font-size: 14px;
  }

  .product-info {
    display: none;
  }

  .add-button {
    padding: 5px;
    font-size: 12px;
  }
}
