.header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

.logo {
  font-size: 18px;
  font-weight: 700;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin: 0 20px;
  cursor: pointer;
  font-size: 14px;
}

.menu a {
  color: #000;
  text-decoration: none;
}

.menu a:hover,
.menu a:active {
  color: olive;
}

.actions {
  display: flex;
  gap: 15px;
  font-size: 14px;
}

.actions div {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0.5rem 0.55rem;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.actions div:hover {
  border-bottom: 1px solid #000;
}

.toggle {
  display: none;
}

@media screen and (max-width: 767px) {
  .toggle {
    display: block;
    font-size: 20px;
    margin-right: 18px;
    cursor: pointer;
  }

  .menu {
    position: absolute;
    top: 50px;
    left: 1rem;
    display: flex;
    flex-direction: column;
    z-index: 2;
    margin: 1rem 0;
    background-color: #fff;
    width: 200px;
    height: calc(100vh - 66px);
    display: none;
  }

  .menu li {
    margin-top: 1.5rem;
  }

  .menu.active {
    display: block;;
    animation: slideIn 300ms ease-out forwards;
  }

  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-3rem);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
