.header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

.logo {
  font-size: 18px;
  font-weight: 700;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin: 0 20px;
  cursor: pointer;
  font-size: 14px;
}

.menu a {
  color: #000;
  text-decoration: none;
}

.menu a:hover,
.menu a:active {
  color: olive;
}

.actions {
  display: flex;
  gap: 15px;
  font-size: 14px;
}

.actions div {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0.5rem 0.55rem;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.actions div:hover {
  border-bottom: 1px solid #000;
}
